<h1>Записаться</h1>
<p>На этой странице вы сможете записться к нам в Barber Shop</p>

<% if @message %>
  <p><%= @message %></p>
<% end %>

<form action="/vizit" method="post">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="name" type="text" class="form-control"
           placeholder="Введите ваше имя" value="<%=@name%>">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="tel" class="form-control"
           placeholder="Введите ваш телефон"  value="<%=@phone%>">
  </div>

  <div class="form-group">
    <label>Укажите время посещения</label>
    <input name="datetime" type="text" class="form-control" id="datetime"
           placeholder="Дата время"  value="<%=@datetime%>">
  </div>

  <div class="form-group">
    <label>Выберете парикмахера</label>
    <select name="master" class="form-control">
      <%@barbers.each do |barber|%>
          <option value="<%=barber['id']%>" <%=selected(@master, barber['id'])%>>
            <%=barber['name']%>
          </option>
      <%end%>
    </select>
  </div>

  <div class="form-group">
    <label>В какие цвета вы хотите окраситься</label>
    <br>
    <select name="head_color" class="form-control">
      <option value="#7bd148" <%=selected(@head_color, '#7bd148')%>>Green</option>
      <option value="#5484ed" <%=selected(@head_color, '#5484ed')%>>Bold blue</option>
      <option value="#a4bdfc" <%=selected(@head_color, '#a4bdfc')%>>Blue</option>
      <option value="#46d6db" <%=selected(@head_color, '#46d6db')%>>Turquoise</option>
      <option value="#7ae7bf" <%=selected(@head_color, '#7ae7bf')%>>Light green</option>
      <option value="#51b749" <%=selected(@head_color, '#51b749')%>>Bold green</option>
      <option value="#fbd75b" <%=selected(@head_color, '#fbd75b')%>>Yellow</option>
      <option value="#ffb878" <%=selected(@head_color, '#ffb878')%>>Orange</option>
      <option value="#ff887c" <%=selected(@head_color, '#ff887c')%>>Red</option>
      <option value="#dc2127" <%=selected(@head_color, '#dc2127')%>>Bold red</option>
      <option value="#dbadff" <%=selected(@head_color, '#dbadff')%>>Purple</option>
      <option value="#e1e1e1" <%=selected(@head_color, '#e1e1e1')%>>Gray</option>
    </select>

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <script>
    $(function(){
      $('select[name="head_color"]').simplecolorpicker({theme: 'glyphicons'});
      $('#datetime').datetimepicker();
    });

  </script>
</form>
